header {
        background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(images/bg/main-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.9;
}

nav ul li a {
        font-weight: 700;
}

.main-text {
        font-size: 60px;
        font-weight: bold;
        color: rgb(229, 143, 0);
}

.main-p {
        font-size: 18px;
        font-weight: 600;
        color: white
}

.main-btn {
        background: rgb(229, 143, 0);
        color: black;
        font-size: 20px;
        font-weight: bold;
        padding: 10px 20px;
}

main {
        background: black;
}

.food-quality {
        background: url(images/bg/Shape.jpg);
        background-size: cover;
        background-repeat: no-repeat
}

.food-gallery {
        background: black;
}

.enjoy-our-food {
        background: url(images/bg/main-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
}

.enjoy-food-details {
        height: 700px;
}

.enjoy-food-text {
        border: 5px solid rgb(229, 143, 0)
}

.menu-part {
        background: black;
}

.menu-title {
        color: rgb(229, 143, 0);
}

.enjoy-best-meal {
        background: url(images/bg/Rectangle.png);
        background-size: cover;
}

footer {
        background: black;
}

footer .fill-color {
        color: white;
        font-size: 25px;
        padding: 0 8px;
}